.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%; /* Add this line */
    max-width: 400px; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .login-form h1 {
    text-align: center;
    color: green;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #fff;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 10px;
    color: #000;
  }
  
  .signup-link p {
    display: inline;
    color: #000;
  }
  
  .signup-link a {
     color: #000;
    text-decoration: underline;
  }

  .signup-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  